version: "3.8"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./data/prometheus/files/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./data/prometheus/src:/prometheus
    user: "0"
    ports:
      - "9090:9090"
    restart: unless-stopped

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "9100:9100"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - ./data/grafana/src:/var/lib/grafana
    user: "0"
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
